[Unit]
Description=Start Host
Requires=host-gpio.service
After=host-gpio.service
Conflicts=obmc-chassis-poweroff0.target

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStart=/usr/bin/env poweron.sh
SyslogIdentifier=poweron.sh

[Install]
WantedBy=obmc-host-start@0.target
